.field-groups {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

.field-group {
    display: grid;
    gap: 1rem;
    align-content: start;
    box-sizing: border-box;
    padding: 1rem;
}

h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

mat-form-field {
    width: 100%;
}

@media (min-width: 1200px) {
    .field-groups {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1536px) {
    .field-groups {
        width: 83.3333%;
    }
}
