<p>Administrators are fancier than average people.</p>

<div class="task-table-container">
    <table class="task-table" aria-label="Administrator tasks">
        <thead>
            <tr>
                <th scope="col">Admin Task</th>
                <th scope="col" aria-label="Action"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Write a test log entry</td>
                <td><button mat-raised-button color="primary" type="button" (click)="writeLogEntry()">Write Log Entry</button></td>
            </tr>
            <tr>
                <td>Test the global exception handler</td>
                <td><button mat-raised-button color="primary" type="button" (click)="throwError()">Throw Error</button></td>
            </tr>
            <tr>
                <td>I don't mind. This is a sandbox. If anyone really does attack me, I'll hide it.</td>
                <td>
                    <button class="shutdown-button" mat-raised-button type="button" (click)="shutdown()">
                        <span class="devil-icon" aria-hidden="true">😈</span>
                        Shutdown the Backend!!!
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
