:host {
    display: block;
    min-height: 100%;
}

.please-wait-backdrop {
    position: fixed;
    inset: 0;
    z-index: 1200;
    display: grid;
    place-items: center;
    background: rgb(0 77 70 / 45%);
    animation: reveal-please-wait 0s 150ms both;
}

@keyframes reveal-please-wait {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}
